#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}
#chat-screen .alt-screen-header {
  position: fixed;
  width: 100%;
  top: 0;
}

.chat__timestamp {
  margin-top: 95px;
  background-color: #92a4b2;
  padding: 5px 15px;
  border-radius: 24px;
  color: white;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-receive-row {
  display: flex;
  width: 100%;
  margin: 25px 0px;
}
.message-receive-row img {
  height: 60px;
  width: 60px;
  border-radius: 14px;
  margin-right: 8px;
}

.message-author {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
  display: block;
}

.message-buble {
  background-color: white;
  padding: 9px;
  border-radius: 10px;
  margin-right: 7px;
}

.message-time {
  display: flex;
  align-items: flex-end;
  font-size: 13px;
  opacity: 0.8;
  margin-right: 7px;
}

.message-info {
  display: flex;
}
.message-send-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.message-send-row .message-buble {
  background-color: #fae100;
}

.reply-input {
  background-color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.reply__column {
  display: flex;
  align-items: center;
}

.reply__column:first-child {
  font-size: 25px;
  opacity: 0.5;
}

.reply__column:last-child {
  position: relative;
  width: 90%;
}

.reply__column input {
  width: 100%;
  border-radius: 18px;
  height: 30px;
  outline: none;
  border: var(--border-line);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0px 10px;
}

.reply__column:last-child > i,
.reply__column:last-child > button {
  right: 5px;
  position: absolute;
  border-radius: 50%;
  font-size: 20px;
}

.reply__column:last-child > i {
  right: 50px;
  opacity: 0.5;
}

.reply__column:last-child > button {
  background-color: var(--yello);
  font-weight: 300;
  border: none;
}
