.badge {
  background-color: tomato;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 15px;
  bottom: 15px;
}

.badge--sm {
  height: 5px;
  width: 5px;
  left: 31px;
  bottom: 28px;
}

.badge__move {
  height: 5px;
  width: 5px;
  left: 12px;
  bottom: 15px;
}
