.nav {
  background-color: #f9f9fa;
  padding: 20px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__btn {
  list-style: none;
  position: relative;
}

.nav__notification {
  background-color: tomato;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__alarm {
  background-color: tomato;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  left: 31px;
  bottom: 28px;
}
