.screen-header {
  display: flex;
  margin-top: 35px;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}

.screen-header__title {
  font-size: 25px;
  font-weight: 700;
  padding-left: var(--horizon-space);
}

.screen-header__icon span {
  margin: 10px;
}

.screen-header__icon span:last-child {
  margin-right: 20px;
}

.screen-header__alarm {
  position: relative;
}
